<!-- Footer -->

<footer id="footer">
	<div class="inner">
		<section>	
			<h2>Get on our email list!</h2>
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeg6g4ag9EXd0O4bq_5IuTMYQfKp465eeWsJC0xhwDq843rXQ/viewform?embedded=true" width="640" height="320" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				<form method="post" action="#"></ul></form>
			<br>
		</section>
		
		<section>
			<br><br><br>
			<ul class="actions stacked">
				<li><a href="http://nchosa.org/" class="button primary small fit">North Carolina HOSA Website</a></li>
				<li><a href="http://hosa.org/" class="button primary small fit">Official HOSA Website</a></li>
				<li><a href="http://ilc.hosa.org/" class="button primary small fit">ILC Webiste</a></li>
			</ul>
      
			<br>
	
			<h2>Find Us Elsewhere!</h2>
				<ul class="icons">
					<li><a href="https://github.com/ecg-hosa/ecg-hosa.github.io" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:wongj@guilford.edu" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
				</ul>	
			<br>
			
			<p>Need help? Reach out to one of our <a href="board.html">board members</a>!</p>
			<br>
			<pr>For problems with the website, please email <a href="mailto:yangt@guilford.edu">Taylor Yang</a> or create an issue on <a href="https://github.com/ecg-hosa/ecg-hosa.github.io/issues">GitHub</a>!</p>
		</section>

		<ul class="copyright">
			<li>&copy; ECG HOSA. All Rights Reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</footer>
