:root {
	--bg-color: #ffffff;
	--txt-color: #000000;
	--hosa-red: #841619;
}

h1, h2, h3 {
	font-family: 'Bebas Neue', cursive;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size 24px;
}

body {
	background-color: var(--bg-color);
	margin: 3.5% 3.5% 3.5% 3.5%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.home-buttons {
        display: flex;
}

.button-home {
        background-color: var(--txt-color);
        color: var(--hosa-red);
        flex: 1;
        list-style-type: none;
        margin: 0.5% 0.5% 0.5% 0.5%;
        padding: 0.5% 0.5% 0.5% 0.5%;
	text-align: center;
}

a {
	color: var(--hosa-red);
}
