

h1, h2, h3 {
	font-family: 'Bebas Neue', cursive;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size 24px;
}

body {
	margin: 5% 5% 5% 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

